body{backgroundx:#e7e7e7;padding:19px auto}
h1, h2{padding:0;margin:0 0 27px 0}
a{color:#00BCD4;font-weight:bold;text-decoration:none;}
a:hover{text-decoration:underline;}
h1, span.error-page-404{display:block;font-family: Helvetica, Arial, sans-serif; font-size: 60px; font-weight: 800; color: #000; line-height: 60px; text-transform: uppercase;}
ul li{line-height:2}

.container{background:#fff;max-width:480px;margin:0 auto;border-bottom:3px solid #d7d7d7}
.section{padding:12px}
.pull-side{float:right}

#content p{margin:0;line-height:2}

/* Products list */
.products .product{float:left;width:50%;text-align:center;}
.products .product h3{font-size:12pt}
